html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

body{
  background-image: url("img/simcity.jpg");
  background-size: cover;
  background-attachment: fixed;
}

p{
  color: red;
  font-size: 1.5em;
  font-family: 'Courier New', Courier, monospace;
}

.flat{
  background-image: url("img/explosion.jpg");
}

.gamespace {
background-color: black;
width: 180px;
padding: .5em;
margin: 4em auto;
}

button{
width: 90%;
margin: .5em 0;
padding: .2em;

}

.green {

  color: green;
}