body{
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}

#box {
  background-color: #333;
  padding: 30px 25px 40px 25px;
  display: inline-block;
}

#message {
  background: linear-gradient(to bottom right, black, slategray);
  color: white;
}

#reset {
  font-size: 20px;
  padding: 10px;
}

#timer {
  color: chartreuse;
  background-color: white;
  display: inline-block;
  padding: 10px;
}

.unexploded {
  background-image: url("./img/simcity.jpg");
}

.exploded {
  background-image: url("./img/explosion.jpg");
}
